<div class="sound-controls" data-sound-controls hidden>
    <button class="sound-toggle" type="button" data-sound-toggle aria-label="Mute sound effects" aria-pressed="false" hidden>
        <svg class="sound-on-icon" viewBox="0 0 24 24" fill="none" aria-hidden="true"><path d="m11 5-6 4H2v6h3l6 4V5Z"/><path d="M15.5 8.5a5 5 0 0 1 0 7M19 5a10 10 0 0 1 0 14"/></svg>
        <svg class="sound-off-icon" viewBox="0 0 24 24" fill="none" aria-hidden="true"><path d="M11 5 6 9H2v6h3l6 4v-8M11 5v2M15.5 8.5a5 5 0 0 1 1.4 4M19 5a10 10 0 0 1 2 12M3 3l18 18"/></svg>
    </button>
    <label class="sound-volume">
        <span class="sr-only">Sound effects volume</span>
        <input type="range" min="0" max="100" step="1" value="30" data-sound-volume aria-valuetext="30%">
        <output data-sound-volume-value>30%</output>
    </label>
</div>
